<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Sheldrake</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-text padding class="ion-text-center">
  <h3>Subject Instructions</h3>
</ion-text>
<div padding class="ion-text-center">From the Home screen, select 'Join Experiment' and tap the email address which matches that of your experiment runner. Ensure that you and the experiment runner are positioned in the room so that they can see you, but you cannot see them. Once the experiment has begun, you will hear a beep every 5 seconds. When this sounds, select from the two available on-screen options whether or not you feel you have been watched during this interval. This process will continue until the experiment is over when the results will be displayed.</div>
<div padding>
  <ion-button (click)="experimenterInstructionsButtonClick()" size="large" type="submit" expand="block">Runner Instructions</ion-button>
</div>
<div padding>
  <ion-button (click)="homeButtonClick()" size="large" type="submit" expand="block">Home</ion-button>
</div>
</ion-content>
