<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
      <ion-title>Sheldrake</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div padding text-center>
        <h3>Waiting For Participant...</h3>
        <div padding>
        <ion-spinner name="bubbles"></ion-spinner>
        <div padding class="ion-text-center">To start the experiment, please take a picture of the person you are performing the experiment on. This is so we can judge the distance between you, as it will affect the data.</div>
        <ion-button size="large" expand="block" (click)="openCamera()">Take Picture</ion-button>
        </div>
      </div>
  <form (ngSubmit)="cancel(form)">
      <div padding>
        <ion-button size="large" type="submit" expand="block">Cancel Experiment</ion-button>
      </div>
  </form>
</ion-content>
