<ion-header>
    <ion-toolbar>
      <ion-title>Sheldrake</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div padding text-center>
        <h3>Results</h3>
      </div>
      <div text-center>
        <ion-grid>
          <ion-row>
            <ion-col>
              <h5>Score</h5>
            </ion-col>
            <ion-col>
                <h5>Percentage</h5>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <h5>{{ correct }} / {{ total }}</h5>
              </ion-col>
              <ion-col>
                  <h5>{{ percent }}%</h5>
              </ion-col>
            </ion-row>
        </ion-grid>
      </div>
      <div padding>
        <ion-button (click)="goAgainButtonClick()" size="large" type="submit" expand="block">Home</ion-button>
      </div>
      <div padding>
          <ion-button (click)="resultsPastButtonClick()" size="large" type="submit" expand="block">Past Results</ion-button>
        </div>
</ion-content>
