
    <ion-header>
        <ion-toolbar>
            <ion-buttons slot="start">
              <ion-back-button (click)="backHome()"></ion-back-button>
            </ion-buttons>
          <ion-title>Sheldrake</ion-title>
          <ion-buttons slot="end">
            <ion-menu-button autoHide="false"></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

<ion-content>
    <div padding text-center>
        <h3>Experiment</h3>
    </div>
  <div padding text-center>
    <h6>{{ countertext }}</h6>
    <h5>{{ instruction }}</h5>
  </div>
</ion-content>
