<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Sheldrake</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-text padding class="ion-text-center">
  <h3>About</h3>
</ion-text>
<div padding class="ion-text-center">This experiment was designed by Rupert Sheldrake. Its purpose is to determine whether or not a person is able to tell when another person is watching them, and if so, to what accuracy.</div>
<div padding class="ion-text-center">Rupert Sheldrake, PhD, is a biologist and author best known for his hypothesis of morphic resonance. At Cambridge University he worked in developmental biology as a Fellow of Clare College. He was Principal Plant Physiologist at the International Crops Research Institute for the Semi-Arid Tropics in Hyderabad, India. From 2005 to 2010 he was Director of the Perrott-Warrick project for research on unexplained human and animal abilities, funded by Trinity College, Cambridge.</div>
<div padding class="ion-text-center">For more on Rupert and his work, visit his website <a href="https://www.sheldrake.org/">here.</a></div>
</ion-content>
