<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Sheldrake</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-text padding class="ion-text-center">
  <h3>Experiment Runner Instructions</h3>
</ion-text>
<div padding class="ion-text-center">From the Home screen, select 'Begin Experiment' and wait for the subject to join. Ensure that you and the subject are positioned in the room so that you can see them, but they cannot see you. Once the subject has joined you will be asked to take a photo of them to begin the experiment. From there, follow the instructions on screen which will tell you whether or not to look at the subject for 5 second intervals. This process will continue until the experiment is over when the results will be displayed.</div>
<div padding>
  <ion-button (click)="subjectInstructionsButtonClick()" size="large" type="submit" expand="block">Subject Instructions</ion-button>
</div>
<div padding>
  <ion-button (click)="homeButtonClick()" size="large" type="submit" expand="block">Home</ion-button>
</div>
</ion-content>
