<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Sheldrake</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div padding text-center>
      <h3>Past Results</h3>
    </div>
        <div text-center class="list">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h5>Date</h5>
          </ion-col>
          <ion-col>
            <h5>Time</h5>
          </ion-col>
          <ion-col>
            <h5>Score</h5>
          </ion-col>
          <ion-col>
            <h5>%</h5>
          </ion-col>
        </ion-row>
        <ion-row *ngFor="let row of rows">
            <ion-col>
              {{ row?.date }}
            </ion-col>
            <ion-col>
              {{ row?.time }}
            </ion-col>
            <ion-col>
              {{ row?.score }}
            </ion-col>
            <ion-col>
              {{ row?.percentage }}%
            </ion-col>
          </ion-row>
      </ion-grid>
    </div>
    <div padding>
      <ion-button (click)="homeButtonClick()" size="large" type="submit" expand="block">Home</ion-button>
    </div>
</ion-content>
