<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button (click)="backHome()"></ion-back-button>
          </ion-buttons>
      <ion-title>Sheldrake</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div padding text-center>
        <h3>Experiment</h3>
      </div>
  <div padding class="ion-text-center">{{ instructions }}</div>
  <div padding text-center>
    <h6>{{ countertext }}</h6>
  </div>
  <div *ngIf="!hideButtons">
    <form (ngSubmit)="watched(form,1)">
        <div padding>
          <ion-button [disabled]="!isenabled" size="large" type="submit" expand="block">I'm being watched</ion-button>
        </div>
    </form>
    <form (ngSubmit)="watched(form,0)">
        <div padding>
          <ion-button [disabled]="!isenabled" size="large" type="submit" expand="block">I'm not being watched</ion-button>
        </div>
    </form>
  </div>
</ion-content>
