<ion-header>
    <ion-toolbar>
      <ion-title>Sheldrake</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content color="white" padding>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <ion-grid>
      <ion-row color="white" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="name" type="input" placeholder="Your Name" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-item>
              <ion-input autocomplete name="email" type="email" placeholder="Email Address" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="group" type="input" placeholder="Group Name (optional)" ngModel></ion-input>
            </ion-item>
            </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="login-instructions">
          <div text-center>
            Type in your name and email address to get started. If you are part of a group, please enter your group ID.
          </div>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
