@import "../../styles.scss";

.login-instructions {
  text-align: center;
  align-items: center;
  display: block;
}

/*.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
ion-item{
    --background: #fff;
    --color: #fff;
}

a{
    color: #fff;
}*/
