<ion-app>

      <ion-menu menuId="loggedIn" side="end" contentId="content1">
          <ion-header>
            <ion-toolbar>
              <ion-title>Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
              <ion-list>
                  <ion-item (click)="homeButtonClick()">Home</ion-item>
                  <ion-item (click)="aboutButtonClick()">About</ion-item>
                  <ion-item (click)="instructionsButtonClick()">Instructions</ion-item>
                  <ion-item (click)="resultsPastButtonClick()">Past Results</ion-item>
                  <ion-item (click)="signoutButtonClick()">Logout</ion-item>
                </ion-list>
              </ion-content>
        </ion-menu>


      <ion-menu menuId="loggedOut" side="end" contentId="content1">
          <ion-header>
            <ion-toolbar>
              <ion-title>Menu</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content>
              <ion-list>
                  <ion-item (click)="instructionsButtonClick()">Instructions</ion-item>
                  <ion-item (click)="aboutButtonClick()">About</ion-item>
                </ion-list>
              </ion-content>
        </ion-menu>

      <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>
