<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title>Sheldrake</ion-title>
    <ion-buttons slot="end">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div padding text-center>
        <h3>Available Experiments</h3>
      </div>
      <div  class="list">
      <div *ngFor="let bit of dataObj">

      <ion-item-sliding>
        <ion-item (click)="join(bit.mail,bit.nid)">
          <ion-label>{{ bit.name }} - {{ bit.mail }}</ion-label>
        </ion-item>
      </ion-item-sliding>
  </div>
</div>
  <div padding>
    <ion-button size="large" type="submit" expand="block" (click)="back()">Go Back</ion-button>
  </div>

</ion-content>
