<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
      <ion-title>Sheldrake</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
  <ion-text padding class="ion-text-center">
    <h3>Instructions</h3>
  </ion-text>
  <div class="ion-text-center">For instructions on how to carry out the experiment, select your role below.</div>
  <div padding class="ion-text-center">Make sure you have registered an account and are logged in before beginning. The experiment runner and the subject must be in the same room for this experiment.</div>

  <div padding>
    <ion-button (click)="experimenterInstructionsButtonClick()" size="large" type="submit" expand="block">Experiment Runner</ion-button>
  </div>

  <div padding>
    <ion-button (click)="subjectInstructionsButtonClick()" size="large" type="submit" expand="block">Subject</ion-button>
  </div>

  <div padding>
      <ion-button (click)="homeButtonClick()" size="large" type="submit" expand="block">Get Started</ion-button>
    </div>

  </ion-content>
  