<ion-header>
    <ion-toolbar>
      <ion-title>Sheldrake</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <div padding text-center>
        <h3>Begin Experiment {{ secs }}</h3>
      </div>
      <div padding>
        <ion-button size="large" type="submit" expand="block" (click)="startExperiment()">Start Experiment</ion-button>
      </div>
      <div padding>
        <ion-button size="large" type="submit" expand="block" (click)="listExperiments()">Join Experiment</ion-button>
      </div>
      <div padding>
        <ion-button size="large" type="submit" expand="block" (click)="goSettings()">Settings</ion-button>
      </div>
</ion-content>
