<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
      <ion-title>Settings</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-item>
      <ion-label>Provide feedback vocally</ion-label>
      <ion-toggle [(ngModel)]="input" (click)="changeInput($event)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Receive feedback response</ion-label>
      <ion-toggle [(ngModel)]="feedback" (click)="changeFeedback($event)"></ion-toggle>
    </ion-item>
</ion-content>
